[submodule "tools/mitmproxy"]
	path = tools/mitmproxy
	url = git://github.com/cortesi/mitmproxy.git
[submodule "tools/rverse"]
	path = tools/rverse
	url = git://github.com/copumpkin/rverse.git
[submodule "libirecovery"]
	path = libirecovery
	url = git://github.com/Chronic-Dev/libirecovery.git
