<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@APTicket</key>
	<true/>
	<key>@BBTicket</key>
	<true/>
	<key>@HostIpAddress</key>
	<string>172.16.191.1</string>
	<key>@HostPlatformInfo</key>
	<string>mac</string>
	<key>@UUID</key>
	<string>8DB11D4A-1003-4F6E-B501-16DC1BB7EF7E</string>
	<key>@VersionInfo</key>
	<string>libauthinstall-68.1</string>
	<key>ApBoardID</key>
	<integer>0</integer>
	<key>ApChipID</key>
	<integer>35104</integer>
	<key>ApECID</key>
	<integer>86872710412</integer>
	<key>ApProductionMode</key>
	<true/>
	<key>ApSecurityDomain</key>
	<integer>1</integer>
	<key>AppleLogo</key>
	<dict>
		<key>Digest</key>
		<data>
		w0i+PTyf1tcDgf6rMmYHf4MUxaw=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAPgUAAA2BheAJyIrNv1oNJXNHDf0nHr0Gw==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryCharging</key>
	<dict>
		<key>Digest</key>
		<data>
		BgbM8f5VncU8PGx/pNfSeAEcsTw=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAALgPAACa51ce/ax6BIud+J4feOOKuBYaMg==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryCharging0</key>
	<dict>
		<key>Digest</key>
		<data>
		qqTrpYs9muTJURSkSJ2y85YB5lg=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAHgLAAC0PcnkQBzZf76n2VtkxY5IlSdq4w==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryCharging1</key>
	<dict>
		<key>Digest</key>
		<data>
		nOt/3k2JWKtqlMty2gwH7C+Vvpc=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAPg1AAC5jgO+kvWlhtJoI+JZlK+IV3vbfA==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryFull</key>
	<dict>
		<key>Digest</key>
		<data>
		mVeKo7DBLDsOOnEoVoKC87PbrOc=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAALjHAwCUaCiPltWerm/ZaHlZw4Ww2WODgQ==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryLow0</key>
	<dict>
		<key>Digest</key>
		<data>
		83A1MYpa2J48OjuyRmztFz0xWBQ=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAADixAAATAJ+kuUFWrlAFR60lBZ5sKSB2fQ==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryLow1</key>
	<dict>
		<key>Digest</key>
		<data>
		MI1vOK+GR6o0Mbgl6IbQcThKZ9A=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAHg8AAAvGOeWM4AE4e0BjmOcm9T2YufvLA==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryPlugin</key>
	<dict>
		<key>Digest</key>
		<data>
		G7rGYVMgtg6T0IbJa8tSAZhOSd8=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAHgLAAB5N1r+gD6ZD0Vm1SXUi4YMXa9ieQ==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>DeviceTree</key>
	<dict>
		<key>Digest</key>
		<data>
		c7UtsM9DfVAjddgeNuKE0qk17m4=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAHi2AACyWXGHeoc0gBJCXnYqpcoR/A69Nw==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>KernelCache</key>
	<dict>
		<key>Digest</key>
		<data>
		AovDBEQ9h+ZbZg3CzY8/bEBIk2c=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAALhbUgDfI3qcafxhZoKn3CzBr0j4PNy6jg==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>LLB</key>
	<dict>
		<key>BuildString</key>
		<string>iBoot-1072.61~2</string>
		<key>PartialDigest</key>
		<data>
		QAAAADjxAADiK2zP7xb70qv1bu+NwNujPNplcg==
		</data>
	</dict>
	<key>RecoveryMode</key>
	<dict>
		<key>Digest</key>
		<data>
		MklDq57nuAbww4XwdDJq2DTvQbI=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAADiSAAC0tSIrW7hjKvtyU9o1rQgFPXqabw==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>RestoreDeviceTree</key>
	<dict>
		<key>Digest</key>
		<data>
		c7UtsM9DfVAjddgeNuKE0qk17m4=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAHi2AACyWXGHeoc0gBJCXnYqpcoR/A69Nw==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>RestoreKernelCache</key>
	<dict>
		<key>Digest</key>
		<data>
		AovDBEQ9h+ZbZg3CzY8/bEBIk2c=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAALhbUgDfI3qcafxhZoKn3CzBr0j4PNy6jg==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>RestoreLogo</key>
	<dict>
		<key>Digest</key>
		<data>
		w0i+PTyf1tcDgf6rMmYHf4MUxaw=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAPgUAAA2BheAJyIrNv1oNJXNHDf0nHr0Gw==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>RestoreRamDisk</key>
	<dict>
		<key>Digest</key>
		<data>
		X6riaNBJDF2c9+RBGce7yiq2RPk=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAHgQbwGTWe4fksJs23RyktWB843b+OJhXw==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>UniqueBuildID</key>
	<data>
	MpFk4Bl7K8JztnfYdU76WDzKs3k=
	</data>
	<key>iBEC</key>
	<dict>
		<key>BuildString</key>
		<string>iBoot-1072.61~2</string>
		<key>PartialDigest</key>
		<data>
		QAAAADhhAgBEWPFn1ZuvzA/rGOgEGMcLwOhEZQ==
		</data>
	</dict>
	<key>iBSS</key>
	<dict>
		<key>BuildString</key>
		<string>iBoot-1072.61~2</string>
		<key>PartialDigest</key>
		<data>
		QAAAADihAQCGBZL8dmvk8W71nFFziRD8baB8VQ==
		</data>
	</dict>
	<key>iBoot</key>
	<dict>
		<key>Digest</key>
		<data>
		e0889cNkAbXul1on4dEG3w2CwvE=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAADhxAgCmN37viRwxhigIzJbNOXUDUA333w==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
</dict>
</plist>